/dts-v1/;

/ {
    model = "qenode-dynamic-machine";
    compatible = "arm,generic-fdt";
    #address-cells = <2>;
    #size-cells = <2>;

    qemu_sysmem: qemu_sysmem {
        compatible = "qemu:system-memory";
        phandle = <0x01>;
    };

    cpus {
        #address-cells = <1>;
        #size-cells = <0>;
        cpu@0 {
            device_type = "cpu";
            compatible = "cortex-m4-arm-cpu";
            reg = <0>;
        };
    };

    memory@60000000 {
        device_type = "memory";
        compatible = "qemu-memory-region";
        reg = <0x0 0x60000000 0x0 0x10000000>;
        container = <0x01>;
        qemu,host-id = "fsmcBank1";
    };
    memory@20000000 {
        device_type = "memory";
        compatible = "qemu-memory-region";
        reg = <0x0 0x20000000 0x0 0x40000>;
        container = <0x01>;
        qemu,host-id = "sram";
    };
    memory@8000000 {
        device_type = "memory";
        compatible = "qemu-memory-region";
        reg = <0x0 0x8000000 0x0 0x200000>;
        container = <0x01>;
        qemu,host-id = "flash";
    };
    usart1@40011000 {
        compatible = "st,stm32-usart";
        reg = <0x0 0x40011000 0x0 0x100>;
        chardev = <0x00>;
        interrupts = <0 37 4>;
        container = <0x01>;
    };
    usart2@40004400 {
        compatible = "st,stm32-usart";
        reg = <0x0 0x40004400 0x0 0x100>;
        chardev = <0x00>;
        interrupts = <0 38 4>;
        container = <0x01>;
    };
    usart3@40004800 {
        compatible = "st,stm32-usart";
        reg = <0x0 0x40004800 0x0 0x100>;
        chardev = <0x00>;
        interrupts = <0 39 4>;
        container = <0x01>;
    };
    uart4@40004c00 {
        compatible = "st,stm32-usart";
        reg = <0x0 0x40004c00 0x0 0x100>;
        chardev = <0x00>;
        interrupts = <0 52 4>;
        container = <0x01>;
    };
    uart5@40005000 {
        compatible = "st,stm32-usart";
        reg = <0x0 0x40005000 0x0 0x100>;
        chardev = <0x00>;
        interrupts = <0 53 4>;
        container = <0x01>;
    };
    nvic@e000e000 {
        compatible = "arm,armv7m-nvic";
        reg = <0x0 0xe000e000 0x0 0x1000>;
        container = <0x01>;
    };
    memory@1fff0000 {
        device_type = "memory";
        compatible = "qemu-memory-region";
        reg = <0x0 0x1fff0000 0x0 0xc000>;
        container = <0x01>;
        qemu,host-id = "rom1";
    };
    memory@1fffc400 {
        device_type = "memory";
        compatible = "qemu-memory-region";
        reg = <0x0 0x1fffc400 0x0 0x3c00>;
        container = <0x01>;
        qemu,host-id = "rom2";
    };
};